html, body{
  font-family: "Darker Grotesque", sans-serif !important;
}
h1,h2{
  font-family: "Darker Grotesque", sans-serif !important;
}
span,p{
  font-family: "Darker Grotesque", sans-serif !important;
  margin: 0;
}
.valeurs {
    margin: 90px 0;
}



.hero-wrapper .row {
    align-items: center;
}




.partner-wrapper .title {
    text-align: center;
    margin: 40px 0;
}

.partner-wrapper .title h2 {
    color: #2253ff;
    font-size: 70px;
    line-height: 55px;
    font-weight: 700;
}

.partner-wrapper .logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.partner-wrapper .logos img{
    width: 300px;
}
.maps-wrapper {
    text-align: center;
}

.maps-wrapper .img {
    width: 100%;
}

.items .item{
    background-color: #F4F5FB;
    border-radius: 20px;
    padding: 25px;
}
.items .item .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.items .item .header .title h2{
    color: #2253FF;
    font-size: 50px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0;
}
.items .item .thumbnail img{
    width: 100%;
}
.prestation-wrapper{
    margin: 80px 40px 80px 40px;
}
.newsletter-wrapper{
    margin: 80px 40px 80px 40px;
}
.line_height{
    line-height: 30px;
}
.page-heading .title h2{
    color: #2253FF;
    font-size: 70px;
    font-weight: 700;
    line-height: 50px;
}
.page-heading .title span{
    color: #717171;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
}
.nav-pills .nav-link{
    border: none;
    margin: 0 15px;
    background-color: #F4F5FB;
    color: rgba(34, 83, 255, 0.26);
    padding: 5px 15px;
}
.nav-pills .nav-link.active{
    border: none;
}

.content-wrapper{
    margin-top: 40px;
}
.toolbar{
    margin-top: 40px;
}
.page-heading{
    width: 30%;
}
.newsletter{
    background-color: #2253FF;
    padding:  5px;
    margin-bottom: 60px;
}
.newsletter-wrapper .title h2{
    color: white;
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
}
.newsletter-wrapper .desc span{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}
.group-input{
    position: relative;
}
.group-input .input-email input{
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    font-size: 24px;
    font-weight: 500;
    border-radius:  6px 0 0 6px;
}
.group-input .input-email input::placeholder{
    color: white;
}
.group-input .submit button{
    height: 60px;
    color: #4A3AFF;
    border: none;
    border-radius: 0 6px 6px 0;
    font-weight: 600;
    padding: 30px;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.page-bread{
    background-image: url('/assets/images/bg-details.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 100px;
}
.page-bread .title{
    margin: 35px;
}
.page-bread .title h2{
    font-size: 100px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
.blocs-details .title h2{
    color: #2253FF;
    font-size: 80px;
    font-weight: 700;
}
.blocs-details .desc p{
    font-size: 24px;
    color: #121028;
}
.blocs-details .row{
    align-items: center;
}
.blocs-details .thumb img{
    width: 70%;
    
}
.blocs-details .thumb{
    text-align: center;
}
.blocs{
    margin: 80px 40px 80px 40px;
}
.highlight{
    color: #2253FF;
    font-weight: 700;
}
.blocs-details .bloc{
    margin: 40px 0;
}